<!DOCTYPE html>
<html>
	<head>
        <title>Hello! Welcome to COVID-19 Fatality Prediction</title>
    </head>
<body>
	<h1> Welcome to COVID-19 Predictor</h1>
	<p> Please fill out the below. </p> 
	
	<form action="/submit">
		<p>
			<label for="Input">Input</label><br>
			<input type="number" name="Input">
		</p>
		<p>
			<label for="Input">Input</label><br>
			<input type="number" name="Input">
		</p>		
		<p>
			<label for="Input">Input</label><br>
			<input type="number" name="Input">
		</p>
		<p>
			<label for="Input">Input</label><br>
			<input type="number" name="Input">
		</p>
		<p><button type="submit">Submit</button></p>
	</form>
</body>
</html>